In [ ]:
#importar librer√≠as
import pandas as pd

In [ ]:
#abrir archivo
df = pd.read_csv(f"../01_DATA/SMN_limpio/SMN_14002.csv", sep=';', na_values=["NULO"], parse_dates=["FECHA"])
df.head(5)
df["FECHA"]
#cuantos NA hay en cada columna
df.isnull().sum()
df.head(5)

       FECHA  PRECIP  EVAP  TMAX  TMIN
0 1961-01-01     0.0   NaN  27.0   6.0
1 1961-01-02     0.0   NaN  28.5   7.0
2 1961-01-03     0.0   NaN  27.5   7.5
3 1961-01-04     0.0   NaN  26.0   7.5
4 1961-01-05     0.0   NaN  28.5   9.5